##########
GeneratedFiles
.DS_Store

##########
*.opendb
*.db
*.obj
*.log
*.tlog
*.dll
*.pdb
*.iobj
*.ipdb
*.suo
*.user
*.lib
*.ipch
*.cache
*.py

##########
# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.user
*vcxproj.user
*.deps
*VC.db
*VC.opendb
*.tmp
*.psess
x64
Win32
Debug
Release
ipch
build
obj

##########
temp

##########
*.pb.h
*.pb.cc
*_pb2.py

##########
# glogs
logs

##########
# 3rdparty
3rdparty

##########
# python
__pycache__
*.pyd
*.wpu
